:root > * {
  --md-code-hl-string-color: #258e05;
  --md-code-hl-comment-color: #258e05;
}
.pdfb {
  float: right;
}
@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}